<form>
  <header class="fxmaster-form-header flexrow">
    <div class="fxmaster-layer-toggle">
      <span class="fxmaster-layer-toggle__icon" title="{{localize 'FXMASTER.FiltersActivateOnLayerBackground'}}"><i
          class="fas fa-road"></i></span>
      <input class="fxmaster-layer-toggle__checkbox" type="checkbox" name="background" {{checked
        filteredLayers.background}} />
    </div>
    <div class="fxmaster-layer-toggle">
      <span class="fxmaster-layer-toggle__icon" title="{{localize 'FXMASTER.FiltersActivateOnLayerForeground'}}"><i
          class="fas fa-home"></i></span>
      <input class="fxmaster-layer-toggle__checkbox" type="checkbox" name="foreground" {{checked
        filteredLayers.foreground}} />
    </div>
    <div class="fxmaster-layer-toggle">
      <span class="fxmaster-layer-toggle__icon" title="{{localize 'FXMASTER.FiltersActivateOnLayerDrawings'}}"><i
          class="fas fa-pencil-alt"></i></span>
      <input class="fxmaster-layer-toggle__checkbox" type="checkbox" name="drawings" {{checked
        filteredLayers.drawings}} />
    </div>
    <div class="fxmaster-layer-toggle">
      <span class="fxmaster-layer-toggle__icon" title="{{localize 'FXMASTER.FiltersActivateOnLayerTokens'}}"><i
          class="fas fa-user-alt"></i></span>
      <input class="fxmaster-layer-toggle__checkbox" type="checkbox" name="tokens" {{checked filteredLayers.tokens}} />
    </div>
  </header>
  <ol class="fxmaster-list fxmaster-list--filters">
    {{#each filters as |filter type|}}
    <li class="fxmaster-list__item">
      <header class="flexrow">
        <div class="fxmaster-list__icon"><i class="{{filter.faIcon}}"></i></div>
        <label class="fxmaster-list__collapse">{{filter.label}} <i
            class="fxmaster-list__collapse-icon fa fa-angle-{{#if (lookup @root.activeFilters type)}}down{{else}}up{{/if}}"></i></label>
        <input type='checkbox' name='{{filter.label}}' id="{{filter.label}}" {{checked (lookup @root.activeFilters
          type)}} />
      </header>
      <ul
        class="fxmaster-list__collapsible{{#unless (lookup @root.activeFilters type)}} fxmaster-list__collapsible--collapsed{{/unless}}">
        {{#each filter.parameters as |parameterConfig parameterName|}}
        <li class="flexrow">
          <span>{{localize parameterConfig.label}}</span>
          {{{parameter filter parameterConfig parameterName (lookup @root.activeFilters type)}}}
        </li>
        {{/each}}
      </ul>
    </li>
    {{/each}}
  </ol>
  <footer class="fxmaster-form-footer">
    <button class="fxmaster-form-footer__button" type="submit" name="submit" disabled>
      <i class="fas fa-save"></i> {{localize "FXMASTER.SaveChanges"}}
    </button>
  </footer>
</form>
