<section class="fxmaster specials application-popout">
  <header class="directory-header flexrow">
    <!-- Elevation control -->
    <div
      class="fxmaster-directory-header-attribute fxmaster-directory-header-attribute--elevation"
      title="{{localize 'Elevation'}}"
    >
      <i class="fxmaster-directory-header-attribute__icon fas fa-angle-up"></i>
      <input
        class="fxmaster-directory-header-attribute__input"
        type="number"
        name="elevation"
        value="1"
      />
    </div>

    <!-- Casting mode toggles -->
    <div class="action-toggle active" title="{{localize 'FXMASTER.CastStatic'}}">
      <a data-action="cast-static"><i class="fas fa-compress"></i></a>
    </div>
    <div class="action-toggle" title="{{localize 'FXMASTER.CastThrow'}}">
      <a data-action="cast-throw"><i class="fas fa-rocket"></i></a>
    </div>
    <div class="action-toggle" title="{{localize 'FXMASTER.CastExtend'}}">
      <a data-action="cast-extend"><i class="fas fa-angles-right"></i></a>
    </div>
    <div class="action-toggle" title="{{localize 'FXMASTER.CastExpand'}}">
      <a data-action="cast-expand"><i class="fas fa-maximize"></i></a>
    </div>
    <div class="action-toggle" title="{{localize 'FXMASTER.CastRotate'}}">
      <a data-action="cast-rotate"><i class="fas fa-arrow-rotate-left"></i></a>
    </div>

    <!-- Add-effect button -->
    <div title="{{localize 'FXMASTER.AddSpecialEffect'}}">
      <a data-action="add-effect"><i class="fas fa-plus"></i></a>
    </div>
  </header>

  {{!-- Effect Folders/list --}}
  <ol class="directory-list">
    {{#each folders}}
      <li
        class="directory-item folder flexcol collapsed"
        data-folder-id="{{@key}}"
      >
        <header class="folder-header flexrow">
          <h3>
            <i class="fas fa-folder-open fa-fw"></i>
            {{this.label}}
          </h3>
        </header>
        <ol class="subdirectory">
          {{#each this.effects}}
            <li
              class="directory-item entity flexrow special-effects"
              data-effect-id="{{@index}}"
              draggable="true"
            >
              <div class="preview">
                <video preload="none" width="46" height="46" muted>
                  <source src="{{this.file}}">
                </video>
              </div>
              <div class="description">
                <a>
                  <h4 title="{{this.label}}">{{this.label}}</h4>
                  <div class="author"><span>{{this.author}}</span></div>
                </a>
              </div>
              <div class="controls">
                {{#if this.preset}}
                  <a class="edit-effect"><i class="fas fa-clone"></i></a>
                {{else}}
                  <a class="edit-effect"><i class="fas fa-pen-to-square"></i></a>
                  <a class="del-effect"><i class="fas fa-trash"></i></a>
                {{/if}}
              </div>
            </li>
          {{/each}}
        </ol>
      </li>
    {{/each}}
  </ol>
</section>